<html xmlns:th="http://www.thymeleaf.org">
    <div class="container p-5">
        <h1>게시글목록</h1>
        <table class="table table-striped table-hover">
            <thead class="table-success">
                <tr>
                    <th>글제목</th>
                    <th>내용</th>
                    <th>이메일</th>
                    <th>작성일</th>
                    <th>수 정</th>
                    <th>삭 제</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boards}">
					<td th:text="${board.title}"></td>
					<td th:text="${board.contents}"></td>  
                    <td th:text="${board.professorEmail}"></td>
                    <td th:text="${board.boardRegistrationDate}"></td>
                    <td>
						<a th:href="@{/boards/edit/{id}(id=${board.boardId})}" class="btn btn-primary">수정</a>
					</td>
					<td>
						<a th:href="@{/boards/edit/{id}(id=${board.boardId})}" class="btn btn-primary">삭제</a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
</html>