<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="container p-5">
		<h1>학생목록</h1>
	    <table class="table table-striped table-hover">
	        <thead class="table-success">
	            <tr>
	                <th>Num</th>
	                <th>이름</th>
	                <th>학번</th>
	                <th>전공</th>
	                <th>학년</th>
	                <th>반</th>
	                <th>성별</th>
	                <th>Email</th>
	                <th>Pw</th>
	                <th>포인트</th>
	                <th>핸드폰</th>
	                <th>생년월일</th>
	                <th>가입날짜</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="student,rowStat : ${students}">
	                <td th:text="${rowStat.index+1}">1</td>
	                <td th:text="${student.studentName}">John Doe</td>
	                <td th:text="${student.studentNumber}">20230001</td>
	                <td th:text="${student.studentMajor}">Computer Science</td>
	                <td th:text="${student.studentGrade}">1</td>
	                <td th:text="${student.studentClass}">A</td>
	                <td th:text="${student.studentGender}">Male</td>
	                <td th:text="${student.studentEmail}">john.doe@example.com</td>
	                <td th:text="${student.studentPw}">password</td>
	                <td th:text="${student.studentPoint}">100</td>
	                <td th:text="${student.studentPhone}">010-1456-7890</td>
	                <td th:text="${student.studentBirthdate}">2000-01-01</td>
	                <td th:text="${student.studentRegistrationDate}">2024-01-01</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</html>
