<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>교수등록</title>
    <style>
        .custom-container {
            max-width: 500px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container-sm custom-container mt-5">
	    <h1>교수등록</h1>
	    <form th:action="@{/professors/register}" th:object="${professor}" method="post">
	        <div class="form-group mb-3">
	            <label for="professorDept">학과</label>
	            <input type="text" class="form-control" id="professorDept" th:field="*{professorDept}" required/>
	        </div>
	        <div class="form-group mb-3">
	            <label for="professorName">이름</label>
	            <input type="text" class="form-control" id="professorName" th:field="*{professorName}" required/>
	        </div>
	        <div class="form-group mb-3">
	            <label for="professorEmail">Email</label>
	            <input type="email" class="form-control" id="professorEmail" th:field="*{professorEmail}" required/>
	        </div>
	        <div class="form-group mb-3">
	            <label for="professorPw">패스워드</label>
	            <input type="password" class="form-control" id="professorPw" th:field="*{professorPw}" required/>
	        </div>
	        <div class="form-group mb-3">
	            <label for="professorPhone">전화번호</label>
	            <input type="text" class="form-control" id="professorPhone" th:field="*{professorPhone}" required/>
	        </div>
	        <button type="submit" class="btn btn-primary">등록하기</button>
	    </form>
	</div>

</body>
</html>
