<div th:fragment="footerFragment" class="bg-secondary footer d-flex justify-content-center align-items-center">
	<div class="me-3">
		<img src="./imgs/footer-logo.png" style="width: 95px; height: 95x;" />
	</div>
	<div>
		<p>All contents <b>Copyright</b><small style="font-size: 10px;">2024</small> <i class="bi bi-c-circle-fill"></i> Yuhan University</p>
		<p><i class="fa-solid fa-users"></i> <b>Developer</b> &nbsp;임성준 이정민</p>
		<p><i class="fa-solid fa-code"></i> <b>Tech Stack</b> &nbsp;<i class="fa-brands fa-html5"></i> <i class="fa-brands fa-css3-alt"></i> <i class="fa-brands fa-java"></i> <i class="fa-brands fa-js"></i></p>
	</div>
</div>