<html th:fragment="defaultContentFragment">
<div class="container p-5">
        <h2 style="text-align: center; font-weight: bold;">공지사항</h2>
        <table class="table table-bordered">
            <thead class="table-success">
                <tr>
                    <th style="width: 10%;">글번호</thstyle="width: 50%;">
                    <th style="width: 10%;">상세보기</th>
                    <th style="width: 50%;">제목</th>
                    <th style="width: 15%;">작성자</th>
                    <th style="width: 15%;">작성일자</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td></td>
					<td>
						<a class="btn btn-primary">상세</a>
					</td>
					<td></td>  
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</html>