<html xmlns:th="http://www.thymeleaf.org" th:fragment="defaultContentFragment">
<div class="container p-5">
        <h2 style="text-align: center; font-weight: bold;">공지사항</h2>
        <table class="table table-striped">
            <thead class="table-success">
                <tr>
                    <th style="width: 10%;">글번호</th>
                    <th style="width: 10%;">상 세</th>
                    <th style="width: 50%;">글제목</th>
                    <th style="width: 15%;">작성자</th>
                    <th style="width: 15%;">작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.boardId}"></td>
                    <td>
						<a th:href="@{/boards/edit/{id}(id=${board.boardId})}" 
						class="btn btn-primary">
						상 세
						</a>
					</td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.professorEmail}"></td>
                    <td th:text="${board.boardRegistrationDate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>