<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container p-5">
    <h1>강의평가 목록</h1>
    <p th:text="'학번 ' + ${studentNumber}"></p>
    <div th:if="${#lists.isEmpty(lectureList)}">
        <p>등록된 데이터가 없습니다</p>
    </div>
    <div th:unless="${#lists.isEmpty(lectureList)}">
        <table class="table table-striped">
            <thead class="table-success">
                <tr>
                    <th>강의 이름</th>
                    <th>평가하기</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${lectureList}">
                    <td th:text="${item}"></td>
                    <td>
						<a class="btn btn-primary" href="#" th:data-url="@{/evaluations/register(item=${item})}" onclick="loadContent(event)">강의평가</a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
