<html xmlns:th="http://www.thymeleaf.org">
	<div class="container p-5">
		<!-- 학생 강의평가 등록 -->
        <h1 th:text="${lectureName} + ' 강의평가 작성'"></h1>
        <form th:action="@{/evaluations/register}" th:object="${evaluation}" method="post">
            <div class="mb-3">
                <label for="studentNumber" class="form-label">학번</label>
                <input type="number" id="studentNumber" name="studentNumber" class="form-control" th:value="${session.loggedInStudentNumber}" readonly>
            </div>	
            <div class="mb-3">
                <label for="lectureName" class="form-label">강의명</label>
                <input type="text" id="lectureName" name="lectureName" class="form-control" th:value="${lectureName}" readonly>
            </div>
            <div class="mb-3">
                <label for="lectureType" class="form-label">강의분류</label>
                <select id="lectureType" name="lectureType" class="form-control" th:field="*{lectureType}">
                    <option value="전공">전공</option>
                    <option value="교양">교양</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="evaluationTitle" class="form-label">평가 제목</label>
                <input type="text" id="evaluationTitle" name="evaluationTitle" class="form-control" th:field="*{evaluationTitle}">
            </div>
            <div class="mb-3">
                <label for="evaluationContent" class="form-label">평가 내용</label>
                <textarea id="evaluationContent" name="evaluationContent" class="form-control" th:field="*{evaluationContent}"></textarea>
            </div>
            <div class="mb-3">
                <label for="lectureTotalScore" class="form-label">총 점수</label><br>
                <div th:field="*{lectureTotalScore}">
                    <input type="radio" id="totalScoreA" name="lectureTotalScore" value="A"> <label for="totalScoreA">A</label>
                    <input type="radio" id="totalScoreB" name="lectureTotalScore" value="B"> <label for="totalScoreB">B</label>
                    <input type="radio" id="totalScoreC" name="lectureTotalScore" value="C"> <label for="totalScoreC">C</label>
                    <input type="radio" id="totalScoreD" name="lectureTotalScore" value="D"> <label for="totalScoreD">D</label>
                    <input type="radio" id="totalScoreF" name="lectureTotalScore" value="F"> <label for="totalScoreF">F</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="lectureScore" class="form-label">강의 점수</label><br>
                <div th:field="*{lectureScore}">
                    <input type="radio" id="lectureScoreA" name="lectureScore" value="A"> <label for="lectureScoreA">A</label>
                    <input type="radio" id="lectureScoreB" name="lectureScore" value="B"> <label for="lectureScoreB">B</label>
                    <input type="radio" id="lectureScoreC" name="lectureScore" value="C"> <label for="lectureScoreC">C</label>
                    <input type="radio" id="lectureScoreD" name="lectureScore" value="D"> <label for="lectureScoreD">D</label>
                    <input type="radio" id="lectureScoreF" name="lectureScore" value="F"> <label for="lectureScoreF">F</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">제출</button>
        </form>
    </div>
</html>