nav {
	width: 300px;
	min-height: 100vh;
}

b {
	font-size: 20px;
}

.logo {
	width: 50px;
}
.logo-link {
	width: 100%;
	/*color: rgb(0, 105, 97) !important;*/
	color: white !important;
	font-weight: bold;
}

.nav-link {
	color: white !important;
}
th, td {
	text-align: center !important;
}
td {
	
}

main {
	min-height: 100vh;
}

.footer {
	height: 150px;
}

p {
	margin: 5px !important;
}

li {
	margin-bottom: 15px;
}