<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="imgs/logo.png" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/students/register}" onclick="loadContent(event)">학생등록</a>
        </li>
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/professors/register}" onclick="loadContent(event)">교수등록</a>
        </li>
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/lectures/register}" onclick="loadContent(event)">강의등록</a>
        </li>
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/students/list}" onclick="loadContent(event)">학생목록</a>
        </li>
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/professors/list}" onclick="loadContent(event)">교수목록</a>
        </li>
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/lectures/list}" onclick="loadContent(event)">강의목록</a>
        </li>
        <li th:if="${session.loggedInStudent == null and session.loggedInProfessor == null }" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/students/update}" onclick="loadContent(event)">회원가입</a>
        </li>
        <li th:if="${session.loggedInStudent != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/evaluations/register}" onclick="loadContent(event)">강의평가</a>
        </li>
        <li th:if="${session.loggedInStudent != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/evaluations/list}" onclick="loadContent(event)">평가목록</a>
        </li>
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/grades/input}" onclick="loadContent(event)">성적등록</a>
        </li>
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" href="#" th:data-url="@{/grades/list}" onclick="loadContent(event)">성적목록</a>
        </li>
      </ul>
      
      <ul class="navbar-nav me-3">
        <!-- 로그인된 경우 표시 -->
        <li th:if="${session.loggedInProfessor != null}" class="nav-item">
          <a class="nav-link" th:text="${#strings.substringBefore(session.loggedInProfessor.getProfessorEmail(), '@')} + '님'">email</a>
        </li>
        <li th:if="${session.loggedInProfessor != null or session.loggedInStudent != null}" class="nav-item">
          <a class="btn btn-danger" th:href="@{/professors/logout}">로그아웃</a>
        </li>
        <!-- 로그인이 되지 않은 경우 표시 -->
        <li th:if="${session.loggedInProfessor == null and session.loggedInStudent == null}" class="nav-item">
			
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              로그인
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" th:href="@{/professors/login}">교수 로그인</a></li>
              <li><a class="dropdown-item" th:href="@{/students/login}">학생 로그인</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>